/***** RESETEO DE ESTILOS *****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  height: 100%;
  width: 90%;
  margin: 0 auto 0 auto;
  max-width: 1200px;
  background-color: #DEB6AB; }

ul, li {
  list-style: none; }

a {
  text-decoration: none; }

/***** HEADER *****/
header {
  background-color: #DEB6AB;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  height: 100px;
  font-size: 20px;
  top: 0;
  width: 100%;
  border-bottom: 2px;
  border-bottom-color: #815B5B;
  border-bottom-style: solid;
  display: flex; }
  header img {
    width: 80px;
    height: auto;
    justify-self: flex-start;
    margin: 10px;
    border-radius: 50px; }
  header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 10px;
    transition: all 0.3s; }
    header nav ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px; }
      header nav ul li {
        padding: 5px; }
        header nav ul li a {
          color: #815B5B;
          text-decoration: none;
          background-position: 50%, 100%;
          background-repeat: no-repeat;
          background-size: 0%, 2px; }
          header nav ul li a:hover {
            text-decoration: underline; }

/***** FOOTER *****/
footer {
  background-color: #815B5B;
  display: flex;
  justify-content: space-between;
  height: 180px;
  position: relative; }
  footer section {
    color: #F5EBE0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 20px; }
    footer section .color-redes {
      color: #E26868; }
    footer section a {
      color: #F5EBE0;
      font-size: 25px;
      display: inline-block;
      padding: 3px; }
      footer section a:hover {
        transform: scale(1.2); }
      footer section a .datos-footer {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 5px;
        margin-top: 100px; }
      footer section a .redes-footer {
        position: absolute;
        right: 5px;
        border-width: 2px;
        margin-top: 30px; }

/***** INDEX *****/
.carrusel img {
  width: 100%;
  height: 500px;
  object-fit: cover; }

.bienvenida {
  background-color: #F5EBE0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px; }
  .bienvenida h1 {
    font-size: 30px;
    display: flex;
    align-items: center;
    padding: 50px; }
  .bienvenida p {
    font-size: 25px;
    color: #815B5B;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-style: italic;
    display: flex;
    justify-content: center;
    padding-right: 30px; }
  .bienvenida .otro-color {
    color: #749f82; }
  .bienvenida .dato-importante {
    color: #B73E3E; }

/***** NOSOTROS *****/
.main-nosotros {
  background-color: #DEB6AB;
  display: flex;
  flex-direction: column; }
  .main-nosotros h2 {
    color: #815B5B;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-style: italic;
    margin-top: 20px; }
  .main-nosotros h3 {
    color: #815B5B;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 20px;
    font-style: italic;
    margin-top: 20px; }
  .main-nosotros .divnosotros {
    display: flex;
    align-items: center; }
    .main-nosotros .divnosotros .nosotros-img img {
      height: 400px;
      width: 400px;
      object-fit: cover;
      margin: 25px;
      border-radius: 30px; }
  .main-nosotros p {
    font-size: 20px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: #967E76;
    padding: 10px; }
  .main-nosotros .divbeneficios {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main-nosotros .divbeneficios .bannernosotros img {
      height: 60%;
      width: 100%;
      /*height: 500px;
            width: 200vh;*/
      object-fit: cover;
      padding: 30px;
      border-radius: 50px;
      object-fit: contain; }
  .main-nosotros .divinfo {
    margin-left: 25px;
    margin-bottom: 25px; }

/***** GALERIA *****/
body {
  height: 100%; }

.main-galeria {
  position: relative;
  background-color: #DEB6AB;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .main-galeria h1 {
    color: #815B5B;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-style: italic;
    margin-top: 20px; }
  .main-galeria .grilla {
    width: 80%;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 'area1 area5 area5 area4' 'area1 area5 area5 area4' 'area3 area6 area2 area2';
    gap: 5px;
    justify-content: center; }
  .main-galeria .grillados {
    width: 80%;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 'area3 area1 area2 area2 area4' 'area3 area1 area2 area2 area4' 'area3 area1 area5 area5 area6';
    gap: 5px;
    justify-content: center; }
  .main-galeria .galeria-estanteria {
    grid-area: area1; }
  .main-galeria .galeria-mesa {
    grid-area: area2; }
  .main-galeria .galeria-lampara {
    grid-area: area3; }
  .main-galeria .galeria-colgantes {
    grid-area: area4; }
  .main-galeria .galeria-juegojardin {
    grid-area: area5; }
  .main-galeria .galeria-mesajardin {
    grid-area: area6; }
  .main-galeria .img-galeria img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    justify-content: center;
    transition: all 0.2s; }
    .main-galeria .img-galeria img:hover {
      scale: 1.2; }

/***** PRODUCTOS *****/
.main-productos {
  position: relative;
  background-image: none;
  background-color: #DEB6AB;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .main-productos h2 {
    color: #815B5B;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-style: italic;
    margin-top: 20px;
    padding: 10px; }
  .main-productos img {
    box-shadow: 12px 5px 10px -2px rgba(152, 152, 152, 0.55);
    border-radius: 10px;
    object-fit: cover;
    filter: grayscale(0.5); }
    .main-productos img:hover {
      filter: blur(0.3px); }
  .main-productos .opciones {
    display: flex;
    gap: 10px; }
    .main-productos .opciones p {
      font-size: 14px; }
    .main-productos .opciones .card {
      background-color: #F5EBE0;
      width: 25%; }
  .main-productos .prod-destacados {
    gap: 10px;
    display: flex; }
    .main-productos .prod-destacados .card {
      background-color: #F5EBE0;
      width: 25%; }
      .main-productos .prod-destacados .card .btn-productos {
        background-color: #FF9F9F;
        font-size: 15px;
        color: #F5EBE0;
        padding: 5px;
        border-radius: 3px; }
    .main-productos .prod-destacados .col-md-4 img {
      width: 150px;
      height: 150px; }
    .main-productos .prod-destacados .img-destacados img {
      height: 140px;
      width: 100%;
      object-fit: cover;
      display: inline-block;
      filter: grayscale(1.5); }
      .main-productos .prod-destacados .img-destacados img:hover {
        filter: blur(0px); }

/***** CONTACTO *****/
.main-contacto {
  background-color: #DEB6AB; }
  .main-contacto .cambios {
    background-color: #DEB6AB; }
    .main-contacto .cambios h1 {
      color: #815B5B;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      font-size: 30px;
      font-style: italic;
      margin-top: 10px;
      display: flex;
      justify-content: center; }
    .main-contacto .cambios p {
      font-size: 18px;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      color: #967E76;
      padding: 5px;
      margin-left: 25px; }
  .main-contacto .contacto {
    background-color: #DEB6AB;
    display: flex;
    justify-content: space-evenly; }
    .main-contacto .contacto h1 {
      color: #815B5B;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      font-size: 30px;
      font-style: italic;
      margin-top: 10px; }
  .main-contacto .formulario {
    background-color: #967E76;
    color: #DEB6AB;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 18px;
    padding: 10px;
    width: 530px;
    height: 330px; }
    .main-contacto .formulario .input {
      display: flex;
      flex-direction: column;
      width: 500px; }
    .main-contacto .formulario .comentarios {
      display: flex;
      flex-direction: column;
      height: 100px;
      width: 500px;
      resize: none; }
    .main-contacto .formulario .btn-contacto {
      width: 90px;
      height: 30px;
      align-self: flex-end;
      margin-right: 10px;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      color: #FF9F9F;
      border-radius: 5px;
      border-color: #FF9F9F;
      margin-top: 5px; }
  .main-contacto .newslettertexto {
    background-color: #DEB6AB;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main-contacto .newslettertexto h1 {
      color: #815B5B;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      font-size: 30px;
      font-style: italic;
      margin-top: 10px; }
    .main-contacto .newslettertexto p {
      font-size: 18px;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      color: #967E76;
      padding: 5px;
      margin-left: 25px; }
    .main-contacto .newslettertexto .newsletter {
      background-color: #DEB6AB;
      display: flex;
      justify-content: center; }
      .main-contacto .newslettertexto .newsletter .btn-contacto {
        width: 90px;
        height: 30px;
        align-self: flex-end;
        margin-right: 10px;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
        color: #FF9F9F;
        border-radius: 5px;
        border-color: #FF9F9F;
        margin-top: 5px; }

/************************************************/
/****************** RESPONSIVE ******************/
/************************************************/
@media only screen and (max-width: 1028px) {
  /*** HEADER ***/
  header {
    height: 100%;
    width: 100%;
    font-size: 18px; }
  header img {
    width: 60px; }
  /*** INDEX ***/
  .carrusel img {
    width: 100%;
    height: 250px; }
  .bienvenida {
    height: 200px; }
  .bienvenida h1 {
    font-size: 20px;
    display: contents; }
  .bienvenida p {
    font-size: 15px;
    margin-top: 15px; }
  /*** NOSOTROS ***/
  .nosotros-img img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    margin: 25px;
    border-radius: 30px; }
  .main-nosotros p {
    font-size: 20px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: #967E76;
    padding: 10px; }
  .bannernosotros img {
    height: 500px;
    width: 200vh;
    object-fit: cover;
    padding: 30px;
    border-radius: 80px; }
  .main-nosotros h2 {
    color: #815B5B;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-style: italic;
    margin-top: 20px; }
  .main-nosotros h3 {
    color: #815B5B;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 20px;
    font-style: italic;
    margin-top: 20px; }
  /*** FOOTER ***/
  footer {
    height: 150px; }
  footer section {
    font-size: 18px; }
  .datos-footer {
    margin-top: 75px; }
  .redes-footer {
    margin-top: 25px; } }

/************************************************/
@media only screen and (max-width: 767px) {
  /*** HEADER ***/
  header {
    height: 100%;
    width: 100%;
    font-size: 16px; }
  header img {
    width: 40px; }
  /*** INDEX ***/
  .carrusel img {
    width: 100%;
    height: 180px; }
  .bienvenida h1 {
    font-size: 18px;
    display: contents; }
  .bienvenida p {
    font-size: 15px;
    margin-top: 15px; }
  /*** NOSOTROS ***/
  .main-nosotros {
    background-color: #DEB6AB;
    display: flex;
    flex-direction: column; }
  .divnosotros {
    display: flex;
    align-items: center; }
  .nosotros-img img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    margin: 25px;
    border-radius: 30px; }
  .main-nosotros p {
    font-size: 20px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: #967E76;
    padding: 10px; }
  /*** FOOTER ***/
  footer {
    height: 120px; }
  footer section {
    font-size: 12px; }
  .datos-footer {
    margin-top: 52px; }
  .redes-footer {
    margin-top: 15px; } }

/************************************************/
@media only screen and (max-width: 550px) {
  /*** HEADER ***/
  header {
    height: 100%;
    width: 100%;
    font-size: 14px; }
  header img {
    width: 35px; }
  /*** INDEX ***/
  .carrusel img {
    width: 100%;
    height: 170px; }
  .bienvenida h1 {
    font-size: 16px;
    display: contents; }
  .bienvenida p {
    font-size: 14px;
    margin-top: 15px; }
  /*** CONTACTO ***/
  .col-12 {
    width: 400px; }
  .col-12 .input {
    width: 380px; }
  .col-12 .comentarios {
    width: 380px; }
  /*** FOOTER ***/
  footer {
    height: 100px; }
  footer section {
    font-size: 10px; }
  .datos-footer {
    margin-top: 40px; }
  .redes-footer {
    margin-top: 2px; } }

/************************************************/
@media only screen and (max-width: 489px) {
  /*** HEADER ***/
  header {
    height: 60px;
    font-size: 10px; }
  header img {
    width: 30px; }
  nav {
    flex-direction: column;
    margin-right: 80px; }
  /*** INDEX ***/
  .carrusel img {
    width: 300px;
    height: 100px;
    object-fit: cover; }
  .bienvenida h1 {
    font-size: 13px; }
  .bienvenida p {
    font-size: 12px;
    display: flex;
    justify-content: center;
    padding-right: 30px;
    margin-top: 15px; }
  /*** CONTACTO ***/
  .formulario {
    background-color: #967E76;
    color: #DEB6AB;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 10px;
    padding: 5px; }
  .col-12 {
    width: 300px; }
  .col-12 .input {
    width: 280px; }
  .col-12 .comentarios {
    width: 280px; }
  /*** FOOTER ***/
  footer {
    height: 100px; }
  footer section {
    font-size: 10px; }
  .datos-footer {
    margin-top: 40px; }
  .redes-footer {
    flex-direction: column;
    gap: 15px;
    margin-top: 2px; } }

/************************************************/
@media only screen and (max-width: 400px) {
  /*** HEADER ***/
  header {
    height: 60px;
    font-size: 10px; }
  header img {
    width: 30px; }
  nav {
    flex-direction: column;
    margin-right: 80px; }
  /*** INDEX ***/
  .carrusel img {
    width: 300px;
    height: 100px;
    object-fit: cover; }
  .bienvenida h1 {
    font-size: 10px; }
  .bienvenida p {
    font-size: 8px;
    display: flex;
    justify-content: center;
    padding-right: 30px;
    margin-top: 15px; }
  /*** CONTACTO ***/
  .formulario {
    background-color: #967E76;
    color: #DEB6AB;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 10px;
    padding: 5px; }
  .col-12 {
    width: 300px; }
  .col-12 .input {
    width: 280px; }
  .col-12 .comentarios {
    width: 280px; }
  /*** FOOTER ***/
  footer {
    height: 100px; }
  footer section {
    font-size: 9px; }
  .datos-footer {
    margin-top: 40px; }
  .redes-footer {
    margin-top: 2px;
    size: 10px;
    flex-direction: column;
    gap: 15px;
    font-size: 9px; } }
